*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base-px:10px;


    --orange:#F16138;
    --white:#fff;
    --black:#000;
    --bordeaux:#731534;
    --beige:#F3ECE6;
    --blue:#00AADD;
    --green:#7DD3A0;
    --violet:#714568;
    --rose:#EB5E71;
    --green2:#8DAE23;
    --jaune:#fada36;
}

html{
    font-size: var(--base-px);
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

section{
    position: relative;
    padding: 3%;
}

.container{
    width: 1300px;
    margin-inline: auto;
}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:20px;

}

.col-1{
    grid-column: span 1;
}

.col-2{
    grid-column: span 2;
}

.col-3{
    grid-column: span 3;
}

.col-4{
    grid-column: span 4;
}

.col-5{
    grid-column: span 5;
}

.col-6{
    grid-column: span 6;
}

.col-7{
    grid-column: span 7;
}

.col-8{
    grid-column: span 8;
}

.col-9{
    grid-column: span 9;
}

.col-10{
    grid-column: span 10;
}

.col-11{
    grid-column: span 11;
}

.col-12{
    grid-column: span 12;
}

@media screen and (max-width:1350px){

    .container{
        width: 1000px;
    }

    .col-md-1{
        grid-column: span 1;
    }

    .col-md-2{
        grid-column: span 2;
    }

    .col-md-3{
        grid-column: span 3;
    }

    .col-md-4{
        grid-column: span 4;
    }

    .col-md-5{
        grid-column: span 5;
    }

    .col-md-6{
        grid-column: span 6;
    }

    .col-md-7{
        grid-column: span 7;
    }

    .col-md-8{
        grid-column: span 8;
    }

    .col-md-9{
        grid-column: span 9;
    }

    .col-md-10{
        grid-column: span 10;
    }

    .col-md-11{
        grid-column: span 11;
    }

    .col-md-12{
        grid-column: span 12;
    }
}

@media screen and (max-width:1050px){

    .container{
        width: 700px;
    }

    .col-sm-1{
        grid-column: span 1;
    }

    .col-sm-2{
        grid-column: span 2;
    }

    .col-sm-3{
        grid-column: span 3;
    }

    .col-sm-4{
        grid-column: span 4;
    }

    .col-sm-5{
        grid-column: span 5;
    }

    .col-sm-6{
        grid-column: span 6;
    }

    .col-sm-7{
        grid-column: span 7;
    }

    .col-sm-8{
        grid-column: span 8;
    }

    .col-sm-9{
        grid-column: span 9;
    }

    .col-sm-10{
        grid-column: span 10;
    }

    .col-sm-11{
        grid-column: span 11;
    }

    .col-sm-12{
        grid-column: span 12;
    }
}

@media screen and (max-width:750px){

    .container{
        width: 500px;
    }

    .col-xs-1{
        grid-column: span 1;
    }

    .col-xs-2{
        grid-column: span 2;
    }

    .col-xs-3{
        grid-column: span 3;
    }

    .col-xs-4{
        grid-column: span 4;
    }

    .col-xs-5{
        grid-column: span 5;
    }

    .col-xs-6{
        grid-column: span 6;
    }

    .col-xs-7{
        grid-column: span 7;
    }

    .col-xs-8{
        grid-column: span 8;
    }

    .col-xs-9{
        grid-column: span 9;
    }

    .col-xs-10{
        grid-column: span 10;
    }

    .col-xs-11{
        grid-column: span 11;
    }

    .col-xs-12{
        grid-column: span 12;
    }

}

@media screen and (max-width:550px){

    .container{
        width: 90%;
    }

    .row{
        gap:0 20px;
    }

  [class*="col-"]{
    grid-column: span 12!important;
  }

}