*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base-px:10px;
    --grid-gap:2rem;


    --orange:#F16138;
    --white:#fff;
    --black:#000;
    --bordeaux:#731534;
    --beige:#F3ECE6;
    --blue:#00AADD;
    --green:#7DD3A0;
    --violet:#714568;
    --rose:#EB5E71;
    --green2:#8DAE23;
    --jaune:#fada36;
    --grey:#7d7d7d;
    --gray:#dadada;
}

html{
    font-size: var(--base-px);
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

section{
    position: relative;
    padding: 3%;
}

.container{
    width: 1300px;
    margin-inline: auto;
}


.icon-magnifier{
    -webkit-mask: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z" fill-rule="nonzero"/></svg>');
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: var(--bordeaux);
}


.icon-accessibility{
    -webkit-mask: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M7 9.866v2.392c-1.221 1.009-2 2.535-2 4.242 0 3.035 2.464 5.5 5.5 5.5 2.256 0 4.197-1.362 5.045-3.308l1.248 1.887c-1.338 2.058-3.658 3.421-6.293 3.421-4.14 0-7.5-3.361-7.5-7.5 0-2.876 1.622-5.376 4-6.634zm10 .134c.552 0 1 .448 1 1s-.448 1-1 1c-1.185 0-3.224.005-4 0 0 2.62 3.641.927 5.274 3.443.726 1.119 1.953 2.998 2.59 4.091.088.151.132.303.136.466.007.352-.174.711-.502.9-.23.132-.933.287-1.366-.366-.67-1.011-1.45-2.211-1.996-3.025-.782-1.166-1.308-1.459-4.136-1.509-2.039-.036-4-.43-4-3v-4c0-.531.21-1.039.586-1.414.375-.376.883-.586 1.414-.586.53 0 1.039.21 1.414.586.375.375.586.883.586 1.414v1h4zm-6-10c1.656 0 3 1.344 3 3s-1.344 3-3 3-3-1.344-3-3 1.344-3 3-3z"/></svg>');
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: var(--bordeaux);
}

.icon-leaf{
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z"/></svg>');
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: var(--bordeaux);
}

.icon-arrow{
    -webkit-mask: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m14.523 18.787s4.501-4.505 6.255-6.26c.146-.146.219-.338.219-.53s-.073-.383-.219-.53c-1.753-1.754-6.255-6.258-6.255-6.258-.144-.145-.334-.217-.524-.217-.193 0-.385.074-.532.221-.293.292-.295.766-.004 1.056l4.978 4.978h-14.692c-.414 0-.75.336-.75.75s.336.75.75.75h14.692l-4.979 4.979c-.289.289-.286.762.006 1.054.148.148.341.222.533.222.19 0 .378-.072.522-.215z" fill-rule="nonzero"/></svg>');
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: var(--white);
}






.btn{
    --transition:.3s;
    display: inline-flex;
    align-items: center;
    gap:1rem;
    width: fit-content;
    font-family: 'Montserrat', sans-serif!important;
    font-weight: 800!important;
    font-size: 1.6rem!important;
    line-height: 1.6rem!important;
    color: var(--orange);
    text-transform: uppercase!important;
    padding: 1rem;
    position: relative;
    background: linear-gradient(
    to left,
    var(--beige) 0%,
    var(--beige) 50%,
    var(--orange) 50%,
    var(--orange) 100%
    );
    background-size: 200% 100%;
    background-position: right;
    transition: background-position .5s ease, color .5s ease;
    will-change: color, background-position;

    &::after{
        content: '';
        -webkit-mask: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m14.523 18.787s4.501-4.505 6.255-6.26c.146-.146.219-.338.219-.53s-.073-.383-.219-.53c-1.753-1.754-6.255-6.258-6.255-6.258-.144-.145-.334-.217-.524-.217-.193 0-.385.074-.532.221-.293.292-.295.766-.004 1.056l4.978 4.978h-14.692c-.414 0-.75.336-.75.75s.336.75.75.75h14.692l-4.979 4.979c-.289.289-.286.762.006 1.054.148.148.341.222.533.222.19 0 .378-.072.522-.215z" fill-rule="nonzero"/></svg>');
        height: 24px;
        width: 24px;
        display: inline-block;
        background-color: var(--orange);
        transform: rotate(45deg);
        will-change: transform, color;
        transition: transform .5s ease, color .5s ease;
    }
    

    &:hover{
            background-position: left;
            color: var(--white);

            &::after{
                transform: rotate(0deg);
                background-color: var(--white);
            }

    }

}

.wallpaper{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -3;
}


.h1,
.h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800!important;
    text-transform: uppercase;
}

.h1{
    font-size: 5rem!important;
    line-height: 5.5rem!important;
}

.h2{
    font-size: 3.8rem!important;
    line-height: 4.2rem!important;
    margin-bottom: 2rem;
}

.h3{
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
}




.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:var(--grid-gap);

}

.col-1{
    grid-column: span 1;
}

.col-2{
    grid-column: span 2;
}

.col-3{
    grid-column: span 3;
}

.col-4{
    grid-column: span 4;
}

.col-5{
    grid-column: span 5;
}

.col-6{
    grid-column: span 6;
}

.col-7{
    grid-column: span 7;
}

.col-8{
    grid-column: span 8;
}

.col-9{
    grid-column: span 9;
}

.col-10{
    grid-column: span 10;
}

.col-11{
    grid-column: span 11;
}

.col-12{
    grid-column: span 12;
}


.top-bar{
    background-color: var(--orange);
    height: 60px;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;
}




















/* HEADER */
header{
    margin-top: 60px;
    display: flex;
    background-color: var(--beige);
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    z-index: 10;


    

    .main-nav{
        display: flex;
        align-items: center;
        justify-content: center;

        .sub-menu{
            z-index: 5;
            background-color: var(--white);
            position: absolute;
            left:0;
            top:100%;
            width: 100%;
            display: none;
        }

        &:hover .sub-menu{
            display: grid;
            --grid-gap:0;
        }

        .card-menu{
            display: flex;
            height: 100%;
            

            figure{
                width:100px
            }

            a{
                font-family: 'Barlow', sans-serif;
                font-size: 1.4rem;
                line-height: 1.4rem;
                font-weight: 400;
                text-transform: none;
            }

            nav{

                .btn{
                    
                    z-index: 2;
                    right: 6rem;

                }

                padding: 2rem;
                display: flex;
                flex-flow: column;
                gap:1rem;
            }
        }
    }

    a{
        color:var(--bordeaux);     
    }
    

    & > *{
        padding: 2.5rem;
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 0.2px var(--bordeaux) solid;
    }

    .logo{
        max-width: 360px;
        text-align: center;
        width: 200px;
        

        img{
            width: 200px;
        }
    }

    & > nav{
        gap:5rem;
        align-items: stretch;
        padding: 0;

        & > *{
            flex:1;
        }

        a{
            font-family: 'Montserrat', sans-serif;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 800;
            color:var(--bordeaux);
            text-transform: uppercase;
            
        }
    }

    .pro_icons{
        gap: 4rem;

        [class^="icon-"]{
            transform: scale(.7);
        }

        .rounded,
        .search{
            display: inline-flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
        }

        .rounded{
            border-radius: 100%;
            background-color: var(--green);
        }


        nav{
            display: flex;
            gap: 2rem;
            font-size: 1.3rem;
            line-height: 1.4rem;
            font-weight: 600;
        }

        .search .icon-magnifier{
            transform: scale(1.3);
        }

        .icons{
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }

    .lang{
        position: relative;
        display: flex;
        top:3px;
        width: 40px;


        &:hover {
            background-color: var(--white);
            .others{
                height: 200px;
                padding-top: 6px;
            }
        }

        .others{
            position: absolute;
            width: 100%;
            height: 0px;
            left: 0;
            top:30px;
            
            overflow: hidden;
            background-color: var(--white);
        }
        
        img{
            height: 30px;
        }

    }

}





/* HERO */

.hero{
    height: 100vh;

    .btn{
        margin-top: 200px;
        color: var(--bordeaux);
        background: var(--green);

        &::after{
            background-color: var(--bordeaux);
        }

        &:hover{
            color: var(--white);

            &::after{
                background-color: var(--white);
            }
        }
    }

}



.top-actus{

    h2{
        text-align: center;
        color: var(--bordeaux);
    }

    a{
        color: var(--bordeaux);
    }

    .h3{
        text-align: center;
        margin-top: 1rem;
    }

    .category{
        margin-top: 1rem;
        color: var(--orange);
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: center;
        font-weight: 700;
        text-transform: uppercase;
    }

    article{
        position: relative;

        a::before{
            content: '';
            position: absolute;
            inset:0;
            width: 100%;
            height: 100%;
        }
    }



    article:hover img{
        transform: scale(1.1);
    }


    figure{
        height: 250px;
        overflow: hidden;

        img{
            transition: transform .5s linear;
            object-fit: cover;
        }
    }

}



.ads{
    background-color: var(--blue);
    color: var(--white);

    .col-8{
        padding-right: 40%;
    }

    .row{
        align-items: center;
    }

    li{
        list-style-position: inside;
    }

    .btn{
        font-size: 1.4rem!important;
        line-height: 1.4rem!important;
        margin-top: 2rem;
        background: linear-gradient(
        to left,
        var(--jaune) 0%,
        var(--jaune) 50%,
        var(--black) 50%,
        var(--black) 100%
        );
        background-size: 200% 100%;
        background-position: right;
        color: var(--blue);

        &::after{
            background-color: var(--blue);
        }

        &:hover{
            background-position: left;
        }

    }
}

.agenda{

    .title-btn{
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2{
            color: var(--bordeaux);
        }
    }

    article{
        text-align: center;
        border: .5px var(--gray) solid;
        padding: 1rem;
        position: relative;

        &:hover img{
            transform: scale(1.2);
        }
        
        a{
            color: var(--black);
            &::after{
                content: '';
                position: absolute;
                inset: 0;
                width: 100%;
                height: 100%;
            }
        }


        figure{
            overflow: hidden;
            height: 250px;
            img{
                transition: transform .5s linear;
                object-fit: cover;
            }
        }

        h1{
            margin-top: 1rem;
        }

        .period{
            margin-top: 1rem;
            font-size: 1.4rem;
            line-height: 1.8rem;
            font-weight: 500;
            color: var(--grey);
        }


    }

}








































@media screen and (max-width:1350px){

    .container{
        width: 1000px;
    }

    .col-md-1{
        grid-column: span 1;
    }

    .col-md-2{
        grid-column: span 2;
    }

    .col-md-3{
        grid-column: span 3;
    }

    .col-md-4{
        grid-column: span 4;
    }

    .col-md-5{
        grid-column: span 5;
    }

    .col-md-6{
        grid-column: span 6;
    }

    .col-md-7{
        grid-column: span 7;
    }

    .col-md-8{
        grid-column: span 8;
    }

    .col-md-9{
        grid-column: span 9;
    }

    .col-md-10{
        grid-column: span 10;
    }

    .col-md-11{
        grid-column: span 11;
    }

    .col-md-12{
        grid-column: span 12;
    }

    header{
        justify-content: space-between;

        & > *{
            padding: 1.5rem;
            flex: 0;
            border: none;
        }

        .hbg{
            position: absolute;
            display: block;
            height: 100%;
            width: 90px;
            right: 0;
            aspect-ratio: 1;
            background-color: var(--bordeaux);
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap:.25rem;

            span{
                display: inline-block;
                width: 30%;
                height: 2px;
                background-color: var(--white);
            }
        }

        & > nav{
            display: none;
        }

        nav.pro{
            display: none;
        }

        .lang{
            order:-1;
        }

        .pro_icons{
            justify-content: end;
            padding-right: 100px;
        }

        .logo{
            justify-content: start;
            flex-basis: auto;
        }
    }
}

@media screen and (max-width:1050px){

    .container{
        width: 700px;
    }

    .ads{

        .col-8{
            padding-right: 0%;
            text-align: center;
        }
    }

    .agenda{

        .title-btn{
            flex-flow: column;
            justify-content: center;
            text-align: center;
        }

        article{
            max-width: 350px;
            margin-inline: auto;

        }
    }
    

    .h1{
        font-size: 4rem!important;
        line-height: 4.5rem!important;
    }

    .col-sm-1{
        grid-column: span 1;
    }

    .col-sm-2{
        grid-column: span 2;
    }

    .col-sm-3{
        grid-column: span 3;
    }

    .col-sm-4{
        grid-column: span 4;
    }

    .col-sm-5{
        grid-column: span 5;
    }

    .col-sm-6{
        grid-column: span 6;
    }

    .col-sm-7{
        grid-column: span 7;
    }

    .col-sm-8{
        grid-column: span 8;
    }

    .col-sm-9{
        grid-column: span 9;
    }

    .col-sm-10{
        grid-column: span 10;
    }

    .col-sm-11{
        grid-column: span 11;
    }

    .col-sm-12{
        grid-column: span 12;
    }
}

@media screen and (max-width:750px){

    .container{
        width: 500px;
    }

    .h1{
        font-size: 3rem!important;
        line-height: 3.5rem!important;
    }

    .col-xs-1{
        grid-column: span 1;
    }

    .col-xs-2{
        grid-column: span 2;
    }

    .col-xs-3{
        grid-column: span 3;
    }

    .col-xs-4{
        grid-column: span 4;
    }

    .col-xs-5{
        grid-column: span 5;
    }

    .col-xs-6{
        grid-column: span 6;
    }

    .col-xs-7{
        grid-column: span 7;
    }

    .col-xs-8{
        grid-column: span 8;
    }

    .col-xs-9{
        grid-column: span 9;
    }

    .col-xs-10{
        grid-column: span 10;
    }

    .col-xs-11{
        grid-column: span 11;
    }

    .col-xs-12{
        grid-column: span 12;
    }

   

}

@media screen and (max-width:550px){
    .h1{
        font-size: 2rem!important;
        line-height: 2.5rem!important;
    }

     header{
        .logo{
            img{
                width: 100px;
            }
        }

        .pro_icons{
            padding-right: 60px;
        }

        .accessibility{
            display: none!important;
        }

        .hbg{
            width: 50px;
        }
    }

    .container{
        width: 90%;
    }

    .row{
        gap:0 20px;
    }

  [class*="col-"]{
    grid-column: span 12!important;
  }

}