*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base-px:10px;


    --orange:#F16138;
    --white:#fff;
    --black:#000;
    --bordeaux:#731534;
    --beige:#F3ECE6;
    --blue:#00AADD;
    --green:#7DD3A0;
    --violet:#714568;
    --rose:#EB5E71;
    --green2:#8DAE23;
    --jaune:#fada36;
}

html{
    font-size: var(--base-px);
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

section{
    position: relative;
    padding: 3%;
}

.container{
    width: 1300px;
    margin-inline: auto;
}


.icon-magnifier{
    -webkit-mask: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z" fill-rule="nonzero"/></svg>');
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: var(--bordeaux);
}


.icon-accessibility{
    -webkit-mask: url('data:image/svg+xml,<svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M7 9.866v2.392c-1.221 1.009-2 2.535-2 4.242 0 3.035 2.464 5.5 5.5 5.5 2.256 0 4.197-1.362 5.045-3.308l1.248 1.887c-1.338 2.058-3.658 3.421-6.293 3.421-4.14 0-7.5-3.361-7.5-7.5 0-2.876 1.622-5.376 4-6.634zm10 .134c.552 0 1 .448 1 1s-.448 1-1 1c-1.185 0-3.224.005-4 0 0 2.62 3.641.927 5.274 3.443.726 1.119 1.953 2.998 2.59 4.091.088.151.132.303.136.466.007.352-.174.711-.502.9-.23.132-.933.287-1.366-.366-.67-1.011-1.45-2.211-1.996-3.025-.782-1.166-1.308-1.459-4.136-1.509-2.039-.036-4-.43-4-3v-4c0-.531.21-1.039.586-1.414.375-.376.883-.586 1.414-.586.53 0 1.039.21 1.414.586.375.375.586.883.586 1.414v1h4zm-6-10c1.656 0 3 1.344 3 3s-1.344 3-3 3-3-1.344-3-3 1.344-3 3-3z"/></svg>');
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: var(--bordeaux);
}

.icon-leaf{
    -webkit-mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.787 7.531c-5.107 2.785-12.72 9.177-15.787 15.469h2.939c.819-2.021 2.522-4.536 3.851-5.902 8.386 3.747 17.21-2.775 17.21-11.343 0-1.535-.302-3.136-.92-4.755-2.347 3.119-5.647 1.052-10.851 1.625-7.657.844-11.162 6.797-8.764 11.54 3.506-3.415 9.523-6.38 12.322-6.634z"/></svg>');
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: var(--bordeaux);
}








.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:20px;

}

.col-1{
    grid-column: span 1;
}

.col-2{
    grid-column: span 2;
}

.col-3{
    grid-column: span 3;
}

.col-4{
    grid-column: span 4;
}

.col-5{
    grid-column: span 5;
}

.col-6{
    grid-column: span 6;
}

.col-7{
    grid-column: span 7;
}

.col-8{
    grid-column: span 8;
}

.col-9{
    grid-column: span 9;
}

.col-10{
    grid-column: span 10;
}

.col-11{
    grid-column: span 11;
}

.col-12{
    grid-column: span 12;
}


.top-bar{
    background-color: var(--orange);
    height: 60px;
}

/* HEADER */
header{
    display: flex;
    background-color: var(--beige);

    a{
        color:var(--bordeaux);     
    }
    

    & > *{
        padding: 2.5rem;
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 0.2px var(--bordeaux) solid;
    }

    .logo{
        max-width: 360px;
        text-align: center;
        width: 200px;
        

        img{
            width: 200px;
        }
    }

    & > nav{
        gap:5rem;
        a{
            font-family: 'Montserrat', sans-serif;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 800;
            color:var(--bordeaux);
            text-transform: uppercase;
            
        }
    }

    .pro_icons{
        gap: 4rem;

        [class^="icon-"]{
            transform: scale(.7);
        }

        .rounded,
        .search{
            display: inline-flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
        }

        .rounded{
            border-radius: 100%;
            background-color: var(--green);
        }


        nav{
            display: flex;
            gap: 2rem;
            font-size: 1.3rem;
            line-height: 1.4rem;
            font-weight: 600;
        }

        .search .icon-magnifier{
            transform: scale(1.3);
        }

        .icons{
            display: flex;
            gap: 1rem;
            align-items: center;
        }
    }

    .lang{
        position: relative;
        display: flex;
        top:3px;
        width: 20px;


        &:hover {
            background-color: var(--white);
            .others{
                height: 100px;
            }
        }

        .others{
            position: absolute;
            width: 100%;
            height: 0px;
            left: 0;
            top:15px;
            overflow: hidden;
            background-color: var(--white);
        }
        
        img{
            height: 20px;
        }

    }

}
















































@media screen and (max-width:1350px){

    .container{
        width: 1000px;
    }

    .col-md-1{
        grid-column: span 1;
    }

    .col-md-2{
        grid-column: span 2;
    }

    .col-md-3{
        grid-column: span 3;
    }

    .col-md-4{
        grid-column: span 4;
    }

    .col-md-5{
        grid-column: span 5;
    }

    .col-md-6{
        grid-column: span 6;
    }

    .col-md-7{
        grid-column: span 7;
    }

    .col-md-8{
        grid-column: span 8;
    }

    .col-md-9{
        grid-column: span 9;
    }

    .col-md-10{
        grid-column: span 10;
    }

    .col-md-11{
        grid-column: span 11;
    }

    .col-md-12{
        grid-column: span 12;
    }

    header{
        position: relative;
        justify-content: space-between;

        & > *{
            padding: 1.5rem;
            flex: 0;
            border: none;
        }

        .hbg{
            position: absolute;
            display: block;
            height: 100%;
            width: 90px;
            right: 0;
            aspect-ratio: 1;
            background-color: var(--bordeaux);
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            gap:.25rem;

            span{
                display: inline-block;
                width: 30%;
                height: 2px;
                background-color: var(--white);
            }
        }

        & > nav{
            display: none;
        }

        nav.pro{
            display: none;
        }

        .lang{
            order:-1;
        }

        .pro_icons{
            justify-content: end;
            padding-right: 100px;
        }

        .logo{
            justify-content: start;
            flex-basis: auto;
        }
    }
}

@media screen and (max-width:1050px){

    .container{
        width: 700px;
    }

    .col-sm-1{
        grid-column: span 1;
    }

    .col-sm-2{
        grid-column: span 2;
    }

    .col-sm-3{
        grid-column: span 3;
    }

    .col-sm-4{
        grid-column: span 4;
    }

    .col-sm-5{
        grid-column: span 5;
    }

    .col-sm-6{
        grid-column: span 6;
    }

    .col-sm-7{
        grid-column: span 7;
    }

    .col-sm-8{
        grid-column: span 8;
    }

    .col-sm-9{
        grid-column: span 9;
    }

    .col-sm-10{
        grid-column: span 10;
    }

    .col-sm-11{
        grid-column: span 11;
    }

    .col-sm-12{
        grid-column: span 12;
    }
}

@media screen and (max-width:750px){

    .container{
        width: 500px;
    }

    .col-xs-1{
        grid-column: span 1;
    }

    .col-xs-2{
        grid-column: span 2;
    }

    .col-xs-3{
        grid-column: span 3;
    }

    .col-xs-4{
        grid-column: span 4;
    }

    .col-xs-5{
        grid-column: span 5;
    }

    .col-xs-6{
        grid-column: span 6;
    }

    .col-xs-7{
        grid-column: span 7;
    }

    .col-xs-8{
        grid-column: span 8;
    }

    .col-xs-9{
        grid-column: span 9;
    }

    .col-xs-10{
        grid-column: span 10;
    }

    .col-xs-11{
        grid-column: span 11;
    }

    .col-xs-12{
        grid-column: span 12;
    }

   

}

@media screen and (max-width:550px){

     header{
        .logo{
            img{
                width: 100px;
            }
        }

        .pro_icons{
            padding-right: 60px;
        }

        .accessibility{
            display: none!important;
        }

        .hbg{
            width: 50px;
        }
    }

    .container{
        width: 90%;
    }

    .row{
        gap:0 20px;
    }

  [class*="col-"]{
    grid-column: span 12!important;
  }

}