*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --base-px:10px;


    --orange:#F16138;
    --white:#fff;
    --black:#000;
    --bordeaux:#731534;
    --beige:#F3ECE6;
    --blue:#00AADD;
    --green:#7DD3A0;
    --violet:#714568;
    --rose:#EB5E71;
    --green2:#8DAE23;
    --jaune:#fada36;
}

html{
    font-size: var(--base-px);
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

section{
    position: relative;
    padding: 3%;
}

.container{
    width: 1300px;
    margin-inline: auto;
}


.icon-magnifier{
    -webkit-mask: url('data:image/svg+xml,<svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.97 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007z" fill-rule="nonzero"/></svg>');
    display: inline-block;
    height: 24px;
    width: 24px;
    position: relative;
    background-color: var(--bordeaux);
}


.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap:20px;

}

.col-1{
    grid-column: span 1;
}

.col-2{
    grid-column: span 2;
}

.col-3{
    grid-column: span 3;
}

.col-4{
    grid-column: span 4;
}

.col-5{
    grid-column: span 5;
}

.col-6{
    grid-column: span 6;
}

.col-7{
    grid-column: span 7;
}

.col-8{
    grid-column: span 8;
}

.col-9{
    grid-column: span 9;
}

.col-10{
    grid-column: span 10;
}

.col-11{
    grid-column: span 11;
}

.col-12{
    grid-column: span 12;
}


.top-bar{
    background-color: var(--orange);
    height: 60px;
}

/* HEADER */
header{
    display: flex;
    background-color: var(--beige);

    a{
        color:var(--bordeaux);     
    }
    

    & > *{
        padding: 2.5rem;
        flex:1;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 0.2px var(--bordeaux) solid;
    }

    .logo{
        max-width: 360px;
        text-align: center;
        width: 200px;
        

        img{
            width: 200px;
        }
    }

    & > nav{
        gap:5rem;
        a{
            font-family: 'Montserrat', sans-serif;
            font-size: 2rem;
            line-height: 2rem;
            font-weight: 800;
            color:var(--bordeaux);
            text-transform: uppercase;
            
        }
    }

    .pro_icons{
        gap: 4rem;

        .rounded,
        .search{
            display: inline-flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
        }

        .rounded{
            border-radius: 100%;
            background-color: var(--green);
        }


        nav{
            display: flex;
            gap: 2rem;
            font-size: 1.3rem;
            line-height: 1.4rem;
            font-weight: 600;
        }

        .search .icon-magnifier{
            transform: scale(1.3);
        }

        .icons{
            display: flex;
            gap: 1rem;
        }
    }

}
















































@media screen and (max-width:1350px){

    .container{
        width: 1000px;
    }

    .col-md-1{
        grid-column: span 1;
    }

    .col-md-2{
        grid-column: span 2;
    }

    .col-md-3{
        grid-column: span 3;
    }

    .col-md-4{
        grid-column: span 4;
    }

    .col-md-5{
        grid-column: span 5;
    }

    .col-md-6{
        grid-column: span 6;
    }

    .col-md-7{
        grid-column: span 7;
    }

    .col-md-8{
        grid-column: span 8;
    }

    .col-md-9{
        grid-column: span 9;
    }

    .col-md-10{
        grid-column: span 10;
    }

    .col-md-11{
        grid-column: span 11;
    }

    .col-md-12{
        grid-column: span 12;
    }
}

@media screen and (max-width:1050px){

    .container{
        width: 700px;
    }

    .col-sm-1{
        grid-column: span 1;
    }

    .col-sm-2{
        grid-column: span 2;
    }

    .col-sm-3{
        grid-column: span 3;
    }

    .col-sm-4{
        grid-column: span 4;
    }

    .col-sm-5{
        grid-column: span 5;
    }

    .col-sm-6{
        grid-column: span 6;
    }

    .col-sm-7{
        grid-column: span 7;
    }

    .col-sm-8{
        grid-column: span 8;
    }

    .col-sm-9{
        grid-column: span 9;
    }

    .col-sm-10{
        grid-column: span 10;
    }

    .col-sm-11{
        grid-column: span 11;
    }

    .col-sm-12{
        grid-column: span 12;
    }
}

@media screen and (max-width:750px){

    .container{
        width: 500px;
    }

    .col-xs-1{
        grid-column: span 1;
    }

    .col-xs-2{
        grid-column: span 2;
    }

    .col-xs-3{
        grid-column: span 3;
    }

    .col-xs-4{
        grid-column: span 4;
    }

    .col-xs-5{
        grid-column: span 5;
    }

    .col-xs-6{
        grid-column: span 6;
    }

    .col-xs-7{
        grid-column: span 7;
    }

    .col-xs-8{
        grid-column: span 8;
    }

    .col-xs-9{
        grid-column: span 9;
    }

    .col-xs-10{
        grid-column: span 10;
    }

    .col-xs-11{
        grid-column: span 11;
    }

    .col-xs-12{
        grid-column: span 12;
    }

}

@media screen and (max-width:550px){

    .container{
        width: 90%;
    }

    .row{
        gap:0 20px;
    }

  [class*="col-"]{
    grid-column: span 12!important;
  }

}